mixin experience(en)
  section.experience#section4
    .container
      .experience__header
        .main__number 04
        -if(en)
          h2.title Work Experience
        -else
          h2.title Опыт работы
      ul.experience__list
        -if(en)
          +experience-block(null,  'Devim', 'Lead UX/UI Designer', 'www.devim.team & www.devim.com', "The main expertise of the company's projects is #fintech. During the work, I implemented design projects from the moment of collecting customer's technical requirements to protecting projects and launching products. I was engaged in the development and support of major projects of the company, as well as the management of the UX / UI-team.", ['Design and development UI/UX for fintech software ', 'Design and development web and mobile applications ', 'Design and development landing pages ', 'Material design on the React components ', 'Management the design process and communication among design and frontend team, project managers and product owners ', 'Management UX/UI team '], 'https://www.devim.team')

          +experience-block(['May', '2017'], 'MAJOR', 'Product Designer', 'www.ma.ru',  "At MAJOR, I gained a lot of experience and skills in analytics and marketing. Worked closely with CEO. Designed and rendered a website that aggregates a large amount of organic traffic for the company's main sites.", ['Design and development  web application: www.major-auto.2017.ru ', 'Support and design review for key projects ', 'Design and development mobile applications (iOS/Android) ', 'Design and development wireframes, visual mockups, interactive prototypes and delivered final design production-ready assets for development.'], 'https://www.ma.ru')

          +experience-block(['Dec', '2013'], 'Intitle', 'Remote Designer', 'www.intitle.ru',  'This is my experience of project remote work in a large IT-company. Implemented several large and interesting projects and gained invaluable experience in teamwork, time management and work on agile methodology.', ['Creating visual design/redesign for web sites and applications ', 'Negotiating user requirements with customers  ', 'Negotiating technical requirements with web developers ', 'Providing recommendations on content management and web site supervision'], 'https://www.intitle.ru')

          +experience-block(['Apr', '2010'], 'CheChevitsa', 'Freelance projects', null, 'I started with various freelance exchanges, combining work with higher education. The main skills of this format of work are the development of work speed, communication skills with customers, various projects requiring a variety of skills.', ['Creating visual design of the customer web sites and web applications ', 'Prototyping UI for the internal projects ', 'Advising on usability ', 'Creating graphic design for customer identity and printing materials '])

        -else
          +experience-block(null,  'Devim', 'Freelancer', 'www.devim.team & www.devim.com', 'Основная экспертиза проектов компании -  #fintech. За время работы реализовывал дизайн-проекты с момента сбора технических требований заказчика до защиты проектов и запуска продуктов. Занимался разработкой и поддержкой основных проектов компании, а также менеджментом UX/UI-команды. Среди основных заказчиков: МТС, “Сбербанк” (POS-терминалы), CashWagon, “До зарплаты” и другие.', ['Проектирование фин. тех. интерфейсов (ПК, моб. устр.) ', 'Менеджмент команды UX/UI ', 'Проектирование лэндингов ', 'Дизайн моб. приложений ', 'Material Design на компонентах из React ', 'Тесное взаимодействие с frontend на CRM-проекте'], 'https://www.devim.team')

          +experience-block(['Май', '2017'], 'MAJOR', 'Product Designer', 'www.ma.ru',  'В MAJOR я получил большой опыт и навыки работы с аналитикой. Работал в тесной связи с СЕО. Спроектировал и отрисовал сайт, агрегирующий большее кол-во органического трафика для основных сайтов компании.', ['Разработка www.major-auto.2017.ru ', 'Поддержка и усовершенствование основных сайтов ', 'Дизайн моб. приложений компании под IOS и Android ', 'Разработка динамических и бумажных прототипов'], 'https://www.ma.ru')

          +experience-block(['Декабрь', '2013'], 'Intitle', 'Remote Designer', 'www.intitle.ru',  'Это мой опыт проектной удаленной работы в крупной IT-компании. Реализовал несколько крупных и интересных проектов и получил бесценный опыт командной работы, тайм-менеджмента и работы по методологии agile. ', ['Удаленная работа с ПМом ', 'Разработка макетов по тех. заданиям ', 'Взаимодействие с заказчиками'], 'https://www.intitle.ru')

          +experience-block(['Апрель', '2010'], 'CheChevitsa', 'Freelancer', null, 'Начинал с различных фриланс-бирж, совмещая работу с получением высшего образования. Главные навыки такого формата работы - развитие скорости работы, навыки коммуникации с заказчиками, разнообразные проекты, требующие самых разных скиллов.', ['Разработка макетов ', 'Полиграфия ', 'Предпечатная подготовка'])




mixin experience-block(data, title, position, link, text, list, linkTo)
  li.experience__item
    .experience__data
      -if(data)
        .experience__month!=data[0]
        .experience__year!=data[1]
      -else
        -if(en)
          .experience__now now
        -else
          .experience__now сейчас

    .experience__top
      h3.experience__title!=title
      h4.experience__position!=position
      a(href=`${linkTo}` target="_blank").experience__link!=link
    .experience__body
      .experience__text!=text
      ul
        each item in list
          li!=item
